################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.vsidx
/ConsoleApp1/obj/Debug
/ConsoleApp1/bin/Debug
